@charset "utf-8";
/* CSS Document */
.details-class{
	width:1084px;
	height:630px;
	margin:auto;
	background:#d9dada;
	padding:10px;
	clear:both
}
.search-class ul{
	width:1104px;
	margin:auto
}
.search-class ul li{
	float:left;
	list-style-type:none;
	color:#225887;
	font-weight:600;
	font-size:18px
}
.search-class ul li input{
	border:#e1e1e1 6px solid;
	border-radius:5px;
	margin-left:5px;
	outline:medium
}
.search-class ul li button{
	position:relative;
	left:-32px;
	top:2px;
	cursor:pointer;
	outline:none;
	background:#e1e1e1
}
.study-class{
	width:1366px;
	height:376px;
	background:url(../images/class-show.png);
	background-repeat:no-repeat;
	clear:both;
	background-size:1366px
}
.study-class ul{
	width:280px;
	height:376px;
	background-color:#225887;
	margin-left:100px;
}
.study-class ul li{
	padding:5px 12px;
	width:256px;
	line-height:25px;
	color:#FFF;
	list-style:none
}
.study-class ul li>ul{
	margin:0px;
	padding:0px;
	width:250px;
	height:30px;
	border-bottom:#999 solid 1px;
}
.study-class ul li>ul li{
	margin:0px;
	padding:0px;
	width:60px;
	float:left;
	font-size:15px
}
.study-class ul li>ul li a{
	color:#FFF
}
.study-class ul h3{
	width:280px;
	height:50px;
	background-color:#f8da06;
	color:#225887;
	line-height:50px;
	font-size:24px
}
.show-class{
	width:200px;
	height:100px;
	z-index:10;
	background:#333;
	position:relative;
	top:-326px;
	left:125px;
	opacity:0.6;
	display:none
}
.hot-class{
	width:1074px;
	margin:auto;
	height:380px;
	background:#FFF
}
.hot-class>div{
	float:left
}
.hot-one{
	width:235px;
	height:380px;
	text-align:center;
}
.hot-one h1{
	margin-top:20px;
	margin-bottom:10px
}
.hot-two{
	width:604px;
	height:380px;
}
.hot-two ul{
	width:480px;
	margin:24px auto;
}
.hot-two ul li{
	list-style-type:none;
	width:160px;
	height:180px;
	text-align:center;
	float:left;
}
.link-a{
	display:none
}
.hot-two ul li img{
	width:110px
}
.hot-three{
	width:235px;
	height:380px;
}
.hot-three ul li{
	list-style-type:none;
	margin-top:24px
}
.update>div{
	float:left
}
.update{
	width:1074px;
	margin:auto;
	padding-top:10px
}
.update-one{
	width:532px;
	height:230px;
	background-color:#FFF
}
.update-one h2{
	width:230px;
	text-align:center;
	margin-top:30px;
	float:left
}
.update-one ul{
	margin:15px 0px 0px 30px;
	width:200px;
	float:left
}
.update-one ul li{
	list-style-type:none;
	line-height:20px;
}
.update-one ul li a{
	text-decoration:none;
	color:#333
}
.update-two{
	width:532px;
	height:230px;
	background-color:#FFF;
	margin-left:10px
}
.update-two h2{
	width:230px;
	text-align:center;
	margin-top:30px;
	float:left;
}
.update-two ul{
	margin:15px 0px 0px 80px;
	width:200px;
	float:left
}
.update-two ul li{
	list-style-type:none;
	line-height:20px;
}
.update-two ul li a{
	text-decoration:none;
	color:#333
}
.course{
	width:1053px;
	height:350px;
	background:#FFF;
	margin:auto;
	box-shadow:#999 1px 2px 5px
}
.details-study{
	width:1084px;
	margin:auto;
	background:#e1e1e1;
	padding:10px;
	clear:both;
}
.author-img{
	width:480px;
	height:260px;
	text-align:center;
	float:left;
	margin-top:20px;
	clear:both
}
.author-img img{
	box-shadow:#999 1px 2px 5px
}
.author{
	float:left;
	margin-top:45px;
	margin-left:13px
}
.author h2{
	font-size:28px;
	color:#444
}
.author p{
	margin-top:10px;
	color:#999;
	height:30px;
	line-height:30px
}
.author p span{
	margin-left:5px
}
.author h1{
	color:#F00;
	margin-top:10px
}
.author button{
	outline:none;
	margin-top:10px
}
.click{
	width:1033px;
	height:30px;
	background:#e8e9e9;
	clear:both;
	float:left;
	line-height:30px;
	border-top:solid 1px #CCC;
	margin-top:40px;
	padding-left:20px;
}
.click p{
	background-color:#333;
	border-radius:8px;
	width:50px;
	height:20px;
	color:#FFF;
	line-height:20px;
	text-align:center;
	margin:5px 5px 0px 15px;
}
.con{
	width:1053px;
	margin:2px auto;
	clear:both;
	}
.left-class,.right-class{
	float:left
}
.left-class{
	width:700px
}
.introduction,.kec{
	width:670px;
	background:#FFF;
	box-shadow:#999 1px 2px 5px
}
.kec{
	margin-top:15px
	
}
.kec h2{
	border-bottom:#333 solid 1px;
	margin:0px;
	padding:13px;
	font-weight:100;
	font-family:"微软雅黑"
}
.kec ul{
	margin-bottom:15px
}
.kec ul li{
	list-style-type:none;
	padding-left:15px;
	line-height:30px;
	width:655px
}
.kec ul li p{
	color:#999;
	float:left;
	margin-right:20px
	}
.right-class{
	width:305px;
	margin-left:18px;
	background:#FFF;
	padding:15px;
	box-shadow:#999 1px 2px 5px
}
.ks{
	position:relative;
	background-color:#FFF;
}
.ks span{
	float:right;
	margin-right:20px;
	color:#999;
}
.ks li:hover{
	background-color:#16324a
}
.ks a{
	text-decoration:none;
	color:#000
}
@media screen and (max-width:1366px){

}
@media screen and (max-width:1024px){
.details-class{
	padding:15px 0px;
	width:995px
}
.search-class ul{
	width:904px;
}
.study-class{
	width:1024px;
	height:282px;
	background:url(../images/class-show.png);
	background-repeat:no-repeat;
	clear:both;
	background-size:1024px
}
.study-class ul{
	width:235px;
	height:281px;
	margin-left:80px
}
.study-class ul li{
	line-height:18px;
}
.study-class ul h3{
	width:235px
}
.study-class ul li>ul{
	width:205px;
	height:25px;
	border-bottom:#999 solid 1px;
}
.study-class ul li>ul li{
	width:55px;
	font-size:14px
}
.hot-class{
	width:964px;
	margin:auto;
}
}